@reference "tailwindcss";
@import "tailwindcss/preflight";

@tailwind utilities;

body {
  @apply m-0 p-0 box-border;
  font-family: 'Inter';
}
@layer components {
  .header {
    @apply bg-[rgb(55,65,81)] h-[56px] w-full flex justify-center items-center;
  }
  .header__container {
    @apply max-w-[1600px] w-full flex flex-row justify-between items-center h-full;
  }
  .main {
    @apply bg-[rgb(225,225,225)] min-h-screen w-full flex justify-center;
  }
  .main__container {
    @apply max-w-[1600px] w-full flex flex-col justify-between items-center h-full;
  }
  .content__container {
    @apply w-[83vw] h-[full] flex flex-col gap-[15px];
  }
  .content__container__pizza {
    @apply w-[83vw] h-full flex flex-row gap-[45px] flex-wrap;
  }
  .content__container__pizza__card {
    @apply bg-white w-[500px] h-fit rounded-[8px] p-[15px] flex flex-col gap-[10px];
  }
}
